include src/edt.pyx
include src/edt.hpp
include src/edt_voxel_graph.hpp
include src/threadpool.h
include src_old/edt.pyx
include src_old/edt.hpp
include src_old/edt_voxel_graph.hpp
include src_old/threadpool.h
include COPYING
include COPYING.LESSER
